@import "src/material-design-lite";
@import "./grid";

html, body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  color: black;
}

iframe, object, embed {
  max-width: 100%;
}

.header-logo {
  width: 200px;
}

.mdl-navigation__link {
  font-weight: bold;
  font-size: 2em;

  .dark-nav & {
    color: black;

    &:hover {
      opacity: 0.7;
    }
  }
}

.splash-layout {
  /*background: linear-gradient(124deg, #1ddde8, #2b1de8);*/
}

.splash {
  display: flex;
  align-items: center;
  height: 100vh;

  .logo-container {
    width: 100%;
    text-align: center;
  }
}

.splash-title {
  margin: 0px auto;
  text-align: center;
}

.splash-logo {
  width: 75%;
  height: auto;
  margin: 0 auto;
}

.splash-tagline {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0.5em 0px;

  @media (min-width: $layout-screen-size-threshold) {
    font-size: 34px;
  }
}

.section-container {
  min-height: 100vh;
}

.topic-container {
  text-align: center;

  .material-icons {
    font-size: 100px;
  }
}

.more-content-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
  animation: moreContentAnimation 750ms ease-in-out alternate infinite;

  .material-icons {
    font-size: 5em;
  }
}

@keyframes moreContentAnimation {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 0.75;
    transform: translateY(0);
  }
}

.section-title {
  text-transform: uppercase;
  font-weight: bold;
  color: #9B9B9B;
  margin-bottom: 0.5em;
}

.lead {
  font-size: 125%;
}

.justify {
  text-align: justify;
}
